# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Laptop\School\2de TI Bachelor\OO-Ontwerpen\02_Groep werk\OO-Opdrachten\Reda - Dobbelspel - Observer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
